<div class="hero is-fullheight">
  <div class="hero-head">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-3 size-demo-column">
          <span [style.font-size]="fontSize + 'px'" [style.font-weight]="fontWeight">Font Size: {{ fontSize }}px</span>
        </div>
        <div class="column is-6 is-offset-3 default-options-container">
          <ngx-rangeslider [(ngModel)]="fontSize" [values]="fontSizeValues"></ngx-rangeslider>
        </div>
        <div class="column is-6 is-offset-3 dark-options-container">
          <ngx-rangeslider [(ngModel)]="fontWeight" [values]="fontWeightValues" [options]="darkOptions">
          </ngx-rangeslider>
        </div>
      </div>
    </div>
  </div>
</div>
